version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo_rbac
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: backend_rbac
    restart: always
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - mongo
    command: >
      sh -c "npm install &&
             node seed.js &&
             node server.js"

volumes:
  mongo_data:
